
.metadata

product/.settings
product/target
product/.classpath
product/.project

gui/.settings
gui/target
gui/frontend
gui/.classpath
gui/.project

user/.settings
user/target
user/.classpath
user/.project
